/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .letters {
  display: flex;
 }

 .letter {
  border: black solid 1px;
  padding: 8px;
  background-color: #3498db;
  margin: 8px;
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
 }
.btn {
  margin-top: 8px;
}
#title {
  margin-top: 8px;
}

.container {
  display: flex;
  width: 75%;
  border: lightgrey solid 1px;
  border-radius: 5px;
}
.btnn {
  text-decoration: none;
  border: none;
  background-color: white;
  border-left:  lightgray solid 1px;
}
.form {
  width: 100%;
  border: none;
}
